h1 {
  font-size: 1.4em;
  text-align: center;
}

a {
  color: var(--teal);
}

/* Code for exercise 01-card */
.hw1card {
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 2px;
  border-radius: 3px; 
  width:33%;
  padding: 14px;
  max-width: 300px;
  margin: 5px;
}
.container {
  padding: 4px 16px;
  width:100%; 
}

.button {
  height: 30px;
  margin: auto;
  display: block;
  background-color: var(--teal);
  color: white;
  border-style:none;
  width: 100%;
  cursor:pointer;
}

h3 {
  font-size: 1.1em;
}

.center {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.text {
 font-size: 15px;

}


/* Code for exercise 02-navbar */
ul {
  display: flex;
  list-style: none;
  flex-direction:row;
  flex-wrap: wrap;
}

li {
  flex-wrap:wrap;
  min-height: 50px;
}

a {
  text-decoration: none;
  font-size: 20px;
  margin-right: 40px;
  white-space: nowrap;
}

.link:hover {
  font-weight:bold;
  text-decoration: underline;
  text-decoration-thickness: 6px;
  color: var(--teal);
  cursor: pointer;
}


/* Code for exercise 03-form */
.hw2card {
  border-style: solid;
  border-color: var(--teal);
  border-width: 2px;
  border-radius: 3px; 
  background-color: white;
  margin: auto;
  margin-top: 50px;
  width: 350px;
  height: 570px;
}

.background {
  background-color: var(--teal);
  
}

.textcard {
  text-align: center;
  color: var(--teal);
  font-weight: 800;
}

.input_name {
  width: 100%;
  margin: auto;
  display: block;
  margin-bottom: 5%; 
  margin-top: 2%;
}

.input_email {
  width: 100%;
  margin: auto;
  margin-bottom: 5%;
  display: block;
  margin-top: 2%;
}

.input_comments {
  margin: auto;
  display: block;
  width: 100%;
  padding-bottom: 50%;
  margin-top: 2%;
}

.checkbox {
  margin-left: 8px;
  margin-top: 7%;
}

.button_hw3 {
  height: 35px;
  margin: auto;
  margin-top: 5%;
  display: block;
  background-color: var(--lightteal);
  color: white;
  border-style:none;
  width: 95%;
}

.button_hw3:hover {
  background-color: var(--teal);
  cursor: pointer;
}

.color {
  color: var(--teal);
  display: inline;
  font-weight: 600;
}


/* Code for exercise 04-bootstrap-grid */
.default_grid {
  height: 2em;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

.first_grid {
  background-color:var(--navy);
}

.second_grid {
  background-color:var(--purple);
}

.third_grid {
  background-color:var(--violetred);
}

.fourth_grid {
  background-color:var(--teal);
}

.fourth_grid_red {
  background-color:var(--red);
}

.fifth_grid {
  background-color:var(--green);
}

/* Code for exercise 05-bootstrap-form */

.form {
  background-color:#F5F5F5;
  height: 100px;
  padding: 15px;
  
}

.textcard_hw5 {
text-align: center;
background-color:#F5F5F5;
font-weight: bold;
font-size: 24px;
color: black;
height: 40px;
padding-top: 20px;
}

.btn-xl {
  padding: 5px 60px;
  font-size: 19px;
  border-radius: 5px;
}


